@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?95532115');
  src: url('../font/fontello.eot?95532115#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?95532115') format('woff'),
       url('../font/fontello.ttf?95532115') format('truetype'),
       url('../font/fontello.svg?95532115#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?95532115#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-windows:before { content: '\e80a'; } /* '' */
.icon-Nutritional:before { content: '\e81d'; } /* '' */
.icon-Improving:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e817'; } /* '' */
.icon-torso:before { content: '\e806'; } /* '' */
.icon-Promoting:before { content: '\e80c'; } /* '' */
.icon-Food:before { content: '\e802'; } /* '' */
.icon-Participating:before { content: '\e80e'; } /* '' */
.icon-flight:before { content: '\e80b'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-pencil-circled:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e803'; } /* '' */
.icon-Quality-Assurance:before { content: '\e815'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-clipboard:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e811'; } /* '' */
.icon-Developing:before { content: '\e80d'; } /* '' */
.icon-Food-Quality-Control:before { content: '\e816'; } /* '' */
.icon-globe:before { content: '\e808'; } /* '' */
.icon-mail2:before { content: '\e814'; } /* '' */
.icon-googleplus:before { content: '\e818'; } /* '' */
.icon-cog-circled:before { content: '\e829'; } /* '' */
.icon-writing:before { content: '\e809'; } /* '' */
.icon-basket-1:before { content: '\e820'; } /* '' */
.icon-Creating:before { content: '\e822'; } /* '' */
.icon-Designing:before { content: '\e81b'; } /* '' */
.icon-Setting:before { content: '\e826'; } /* '' */
.icon-Guidance:before { content: '\e824'; } /* '' */
.icon-Occupational:before { content: '\e825'; } /* '' */
.icon-Tracking:before { content: '\e821'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-credit-card:before { content: '\e819'; } /* '' */
.icon-calendar:before { content: '\e81f'; } /* '' */
.icon-Presenting:before { content: '\e81a'; } /* '' */